<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">Family's Info</a>
      </div>
      <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/sara">Sara - Me</a></li>
      <li><a href="/nivaldo">Nivaldo - Dad</a></li>
      <li><a href="/simone">Simone - Mom</a></li>
      </ul>
      </div>
      </nav>
    <h1><%= title %></h1>
    <p>My dad is a man who will do his best to see you happy and achieve your goals. He is protected, caring and it is always there if you need it.</p>
  </body>
</html>