<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>My dad is a man who will do his best to see you happy and achieve your goals. He is protected, caring and it is always there if you need it.</p>
  </body>
</html>