<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Me, what can I say about myself? I would say I am a determined person, who knows what I want and goes for it, who does not give up easily, who is curious and always open to learn new things.</p>
  </body>
</html>