<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Simone, more well as my mother, she is a very hard woman but deep down has a huge heart. She is going to give you the honest opinion no matter if you will like it or not.</p>
  </body>
</html>